---
---
<div aria-hidden="true" class="pointer-events-none fixed inset-0 z-[-1]">
  <div class="absolute inset-0" style="background-image:url('/textures/noise.svg'); opacity:var(--grain-opacity);" class:list={["noise-blend"]}></div>
</div>
